<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.ArticleMapper">

	<select id="findAll" resultType="Article">
    SELECT a.*, u.user_name
    FROM article a JOIN user u ON a.article_writer = u.user_id
    WHERE board_id = #{board_id}
    ORDER BY a.id DESC 
    </select>
    
    <select id="findArticle" resultType="Article">
    SELECT a.*, u.user_name
    FROM article a JOIN user u ON a.article_writer = u.user_id
    WHERE id = #{id}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT article (board_id, article_title, article_content, article_writer, reply_count)
    VALUES (#{board_id}, #{article_title}, #{article_content}, #{article_writer}, #{reply_count})
  	</insert>
    
	<update id="update">
    UPDATE article
    SET article_title = #{article_title}, 
      	article_content = #{article_content}
    WHERE id = #{id}
  	</update>

  	<select id="selectHit" resultType="int">
    SELECT article_hit
    FROM article
    WHERE id = #{id}
    </select>
    
  	<update id="updateHit">
    UPDATE article
    SET article_hit = #{article_hit}
   	WHERE id = #{id}    
    </update>

	<delete id="delete">
    DELETE FROM article WHERE id = #{id}
  	</delete>
  	
  	<update id="updateAnswer">
    UPDATE article
    SET answer_complete = 1
    WHERE id = #{id}
  	</update>

</mapper>
