<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MentoroomMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="mentoroom_id">
    INSERT mentoroom (team_name, team_about, team_theme, team_link, team_year, team_semester, mento_id, mento_name)
    VALUES (#{team_name}, #{team_about}, #{team_theme}, #{team_link}, #{team_year}, #{team_semester}, #{mento_id}, #{mento_name})
  	</insert>
  	
  	<select id="findAll" resultType="Mentoroom">
    SELECT *
    FROM mentoroom
    ORDER BY mentoroom_id DESC
    </select>   
    <select id="findAllByYear" resultType="Mentoroom">
    SELECT *
    FROM mentoroom
    WHERE team_year = #{team_year} AND team_semester = #{team_semester}
    ORDER BY mentoroom_id DESC
    </select>
    
    <select id="findMentoroom" resultType="Mentoroom">
    SELECT *
    FROM mentoroom
    WHERE mentoroom_id = #{mentoroom_id}
    </select>
    
    <update id="updateTeamconfirm">
    UPDATE mentoroom
    SET team_confirm = 1
    WHERE mentoroom_id = #{mentoroom_id}
  	</update>
  	
  	<delete id="deleteMentoroom">
    DELETE FROM mentoroom
    WHERE mentoroom_id = #{mentoroom_id}
  	</delete>
    
</mapper>
