<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MentoRoomInfoMapper">
	<select id="findAll" resultType="MentoRoomInfo">
    SELECT *
    FROM mentoRoomInfo
    </select>
    
    <insert id="insert">
    INSERT MentoRoomInfo (mento_start, mento_end, menti_start, mento_end, max_mento, max_menti, meeting_number, meeting_period, survey_start, survey_end)
    VALUES (#{mento_start}, #{mento_end}, #{menti_start}, #{menti_end}, #{max_mento}, #{max_menti}, #{meeting_number}, #{meeting_period}, #{survey_start}, #{survey_end})
  	</insert>
  	
  	<delete id="delete">
    DELETE FROM MentoRoomInfo
  	</delete>
</mapper>