<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.SurveyObMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT surveyObject(question_id, object_question, survey_year, survey_semester)
    VALUES (#{question_id}, #{object_question}, #{survey_year}, #{survey_semester})
  	</insert>
  	
  	<select id="findByYear" resultType="SurveyObject">

  	</select>
</mapper>