<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.SurveyOQMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT surveyObjectQuestion(object_question1, object_question2, object_question3, object_question4, object_question5, survey_year, survey_semester)
    VALUES (#{object_question1}, #{object_question2}, #{object_question3}, #{object_question4}, #{object_question5}, #{survey_year}, #{survey_semester})
  	</insert>
  	
  	<select id="findByYear" resultType="SurveyObjectQuestion">
  		SELECT *
  		FROM surveyObjectQuestion
  		WHERE survey_year = #{survey_year} AND survey_semester = #{survey_semester};
  	</select>
</mapper>