<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.UploadFileMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT uploadFile (file_data, file_name, file_kind, mentoroom_id, file_type)
    VALUES (#{file_data}, #{file_name}, #{file_kind}, #{mentoroom_id}, #{file_type})
  	</insert>
  
    <select id="findOne" resultType="UploadFile">
    SELECT *
    FROM uploadFile
    WHERE id = #{id}
    </select>
    
    <delete id="delete">
    DELETE FROM uploadFile WHERE id = #{id}
  	</delete>
  	
  	<select id="findByRoomId" resultType="UploadFile">
    SELECT *
    FROM uploadFile
    WHERE mentoroom_id = #{mentoroom_id}
    </select>
    
    <select id="findAll" resultType="UploadFile">
    SELECT f.*, m.mento_name
    FROM uploadFile f LEFT JOIN mentoroom m ON f.mentoroom_id = m.mentoroom_id
    WHERE f.file_kind = 1
    </select>
    
    <select id="findAllByYear" resultType="UploadFile">
    SELECT f.*, m.mento_name
    FROM uploadFile f LEFT JOIN mentoroom m ON f.mentoroom_id = m.mentoroom_id
    WHERE f.file_kind = 1 AND m.team_year = #{team_year} AND m.team_semester = #{team_semester} 
    </select>
    
    <update id="updateConfirm">
    UPDATE uploadFile
    SET file_state = 1
    WHERE id = #{id}
  	</update>
  	
  	<update id="updateReject">
    UPDATE uploadFile
    SET file_state = 2
    WHERE id = #{id}
  	</update>
    
  
</mapper>