<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.UploadFileMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT uploadFile (file_content, file_name, file_kind, mentoroom_id, file_type)
    VALUES (#{file_content}, #{file_name}, #{file_kind}, #{mentoroom_id}, #{file_type})
  	</insert>
  
    <select id="findOne" resultType="UploadFile">
    SELECT *
    FROM uploadFile
    WHERE id = #{id}
    </select>
    
    <delete id="delete">
    DELETE FROM uploadFile WHERE id = #{id}
  	</delete>
  	
  	<select id="findByRoomId" resultType="UploadFile">
    SELECT *
    FROM uploadFile
    WHERE mentoroom_id = #{mentoroom_id}
    </select>
    
  
</mapper>