<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MentoRoomInfoMapper">
	<select id="findMentoRoomInfo" resultType="MentoRoomInfo">
    SELECT *
    FROM mentoRoomInfo
    WHERE id = 1
    </select>
   
   <update id="update">
    UPDATE mentoRoomInfo
    SET mento_start = #{mento_start},
    	mento_end = #{mento_end},
    	menti_start = #{menti_start},
    	menti_end = #{menti_end},
    	max_mento = #{max_mento},
    	max_menti = #{max_menti},
    	meeting_number = #{meeting_number},
    	survey_start = #{survey_start},
    	survey_end = #{survey_end}
    WHERE id = 1
  	</update>
</mapper>