<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.StudentMapper">

	<select id="selectStudentname" resultType="String">
    SELECT student_name
    FROM student
    WHERE student_id = #{student_id}
    </select>
    
  	<insert id="insert">
    INSERT student (student_id, student_name, student_email, student_phone, student_major, student_minor, student_number)
    VALUES (#{student_id}, #{student_name}, #{student_email}, #{student_phone}, #{student_major}, #{student_minor}, #{student_number})
  	</insert>
  	
  	<select id="selectSurveycheck" resultType="int">
    SELECT survey_check
    FROM student
    WHERE student_id = #{student_id}
    </select>

</mapper>
